:root {
  --brand-color: #2196f3;
  --site-color: #212121;
  --white-color: #ffffff;
  --white-color06: #ffffff99;
  --grey-color: #757575;
  --grey-background-color: #f5f4fa;
  --black-color: #000000;
  --panetone-color: #2f303a;
  --border-color: #ececec;
  --border-portfolio-color: #eeeeee;
}

* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1200px;
  margin: 0 205px;
}

.section {
  padding-top: 94px 0;
  
}

.menu {
  display: flex;
  align-items: baseline;
  padding: 25px 0px;
  border-bottom: 1px solid var(--border-color);
}

.navigation {
  display: flex;
  margin-left: 93px;
}
.navigation-item {
  margin-right: 46px;
}

.contact {
  display: flex;
  margin-left: 371px;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--site-color);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}
.link {
  color: inherit;
}
.link-footer {
  color: var(--white-color06);
}
a[href='mailto:info@example.com']:focus,
a[href='mailto:info@example.com']:hover {
  text-decoration: underline;
}
li .link:hover,
li .link:focus {
  color: var(--brand-color);
}
.contact .grey:hover,
.contact .grey:focus {
  color: var(--brand-color);
}
.blue {
  color: var(--brand-color);
}
.white {
  color: var(--white-color);
}
.grey {
  color: var(--grey-color);
}
.contact {
  color: var(--grey-color);
}
main .section:nth-child(4) {
  background: var(--grey-background-color);
}
.tools {
  background: var(--panetone-color);
  padding: 200px 0px 280px;
 
}
.footer {
  background: var(--panetone-color);
  padding: 60px 0px 60px 215px;
}

.features-list {
  font-size: 14px;
  letter-spacing: 0.03em;
  display: flex;
  
 padding-bottom: 0px;
}

.lorem {
  margin-bottom: 10px;
}

.features-list .lorem {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list p {
  line-height: 1.71;
  color: var(--grey-color);
}
.tools > h2 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.tools > button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--brand-color);
  border: none;
  margin: auto;
  margin-top: 30px;
  border-radius: 4px;
  text-align: center;
  display: block;
  padding: 10px 41px 10px 42px;
}
.portfolio button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--grey-background-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}
.portfolio button:hover,
.portfolio button:focus {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--brand-color);
  border-radius: 4px;
  border: none;
}


.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--black-color);
}
.contact,
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-address > span,
.footer-logo {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
span .footer-address,
ul .footer-address:first-child {
  margin-bottom: 9px;
}

.what-we-do > h2,
.section > h2 {
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

main .section:nth-child(2) {
  padding-bottom: 0px;
}
.section {
  padding: 94px 0px;
}

.what-we-do-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.what-we-do-list li:not(:first-child) {
  margin-left: 30px;
}

.team figcaption {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.team .grey {
  font-weight: 400;
}
.team-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.team-list li:not(:first-child) {
  margin-left: 30px;
}
.team-figure-img {
  display: block;
}
.team-list-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding: 30px 0px;
}

.job-title {
  margin-top: 10px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  }

 .portfolio-list li:not(:first-child){margin-left: 8px;}

.portfolio-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  background: #FFFFFF;
border: 1px solid #EEEEEE;
display: block;
padding: 24px 20px;
}
.portfolio-caption .grey {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  
}

.portfolio-content{display: flex;
  flex-wrap: wrap;
 gap: 30px;
margin-top: 56px;
}

.portfolio-content-list{flex-basis: calc((100% - 10px) /4);
}
.portfolio-content-figure img {display: block;}
